<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Perfil de {{profileUser.username}}</h1>

            <img src="{{profileUser.profileImg}}" alt="Imagen de usuario" class="photo-profile">
            {{#if isAdmin}}
            <div class="flex botones-perfil">
                <a href='/perfil/editar/{{profileUser._id}}' class="btn btn-warning">Editar</a>
                <form action="/perfil/{{profileUser._id}}/borrar" method="POST">
                    <button class="btn btn-danger">Borrar perfil</button>
                </form>
            </div>

            {{/if}}

            {{#if isCurrentUser}}
            <div class="flex botones-perfil">
                <a href='/perfil/editar/{{profileUser._id}}' class="btn btn-warning">Editar</a>
                <form action="/perfil/{{profileUser._id}}/borrar" method="POST">
                    <button class="btn btn-danger">Borrar perfil</button>
                </form>
            </div>
            {{/if}}
        </div>
        <div class="col-8 des-per">
            <h3>Descripción</h3>
            <p>{{profileUser.description}}</p>
            <h3>Películas favoritas</h3>
            <div class="row">

                {{#each movieArr}}
                <div class="col-2">
                    <div class="card">
                        <a href="/peliculas/{{id}}">
                            <img class="card-img-top cartones"
                                src="https://www.themoviedb.org/t/p/original{{poster_path}}" alt="poster" />
                            <form action="perfil/{{profileUser._id}}/delete-movie" method="POST">
                                <input type="hidden" value="{{id}}">
                                <button type="submit" class="btn btn-danger boton-quitar"> Quitar</button>
                            </form>
                            <br><br>
                        </a>
                    </div>



                </div>
                {{/each}}

            </div>
        </div>

    </div>

</div>
