<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Perfil de {{user.username}}</h1>

            <img src="{{user.profileImg}}" alt="Imagen de usuario" class="photo-profile">

            <div class="flex botones-perfil">
                <a href='/perfil/editar/{{user._id}}' class="btn btn-warning">Editar</a>
                <form action="/perfil/{{user._id}}/borrar" method="POST">
                    <button class="btn btn-danger">Borrar perfil</button>
                </form>
            </div>
        </div>
        <div class="col-8 des-per">
            <h3>Descripción</h3>
            <p>{{user.description}}</p>
           <h3>Películas favoritas</h3>
            <div class="row">
                {{#each movieArr}}
                <div class="col-4">
                    <div class="card">
                        <a href="/peliculas/{{id}}">
                            <img class="card-img-top cartones"
                                src="https://www.themoviedb.org/t/p/original{{poster_path}}" alt="" />
                            <div class="card-body">
                                <h5 class="card-title titulo-carta">{{title}}</h5>
                            </div>
                             <a href='/perfil/{{review._id}}/borrar' class="btn btn-danger">Quitar película de mis favoritos</a>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>