<div class="container details-films">
    <div class="row justify-content-around">
        <h3 class="card-title title-card">{{movieDetails.title}}</h3>
        <div class="col-6">
            <div>
                <img class="details" src=" https://www.themoviedb.org/t/p/original{{movieDetails.poster_path}}"
                    alt="" />
                <p>Rating: {{vote_average}}</p>
                <form class="boton-fav" action="/peliculas/{{movieDetails.id}}" method="POST">
                    <button class="btn btn-outline-danger" type="submit">
                        <input type="hidden" value="addToFavorites" name="addToFavorites">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg> <span>Añadir a tus pelis favoritas</span>
                    </button>
                </form>
                <div>
                    <a href="/peliculas/{{movieDetails.id}}/create-review"><button type="button"
                            class="btn btn-primary">Crear review</button></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>{{movieDetails.overview}}</p>
            <div class="row">
                {{#each limCredits}}
                <div class="col-4">
                    <a class="name-actor" href="/actor/{{id}}">
                        <img src="https://www.themoviedb.org/t/p/original{{profile_path}}" alt="" class="actor-image">
                        <div>{{name}} </div>
                    </a>
                </div>
                <br><br>
                {{/each}}
                <br><br>
                <h4 class="review-title">Reviews</h4>
                {{#if reviews}}
                <div class="row">
                    {{#each reviews}}
                    <div class="col-12">
                        <hr>
                        <h5>{{username}}</h5>
                        <p>{{text}}</p>
                        {{#if ../isAdmin}}
                        <form action="/peliculas/{{id}}/borrar" method="POST">
                            <button class="btn btn-danger">Borrar comentario</button>
                        </form>
                        {{/if}}
                        <hr>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <h5>Se el primero en dejar tu review de la película</h5>
                {{/if}}
            </div>
        </div>
    </div>
</div>