<div class="container details-films">

    <div class="row justify-content-around">




        <div class="col-4">
            <div>
                <h3 class="card-title">{{movieDetails.title}}</h3>
                <br>
                <a href="/films/{{id}}">
                    <img class="details" src=" https://www.themoviedb.org/t/p/original{{movieDetails.poster_path}}"
                        alt="" />

                    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Añade esta películas a tus
                            favoritas</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Añade a tu wishlist</label>
                    </div>
                    <div>
                        <a href="/peliculas/{{movieDetails.id}}/create-review">Create review</a>
                    </div>
                </a>

                <p>{{movieDetails.overview}}</p>
                <p>Rating: {{vote_average}}</p>

            </div>
        </div>
        <div class="col-6">

            <div class="row">

                {{#each limCredits}}

                <div class="col-4">
                    <a href="/actor/{{id}}">
                        <img src="https://www.themoviedb.org/t/p/original{{profile_path}}" alt="" class="actor-image">
                        <div>{{name}} </div>
                    </a>
                </div>
                <br><br>
                {{/each}}
                <br>
                <h5>Reviews:</h5>
                {{#if reviews}}
                <div class="row">
                    {{#each reviews}}

                    <div class="col-12">

                        By: <h3>{{username}}</h3>
                        <div>{{text}}</div>
                        <hr>

                    </div>
                    {{/each}}
                </div>




                {{else}}
                Se el primero en dejar tu review de la película

                {{/if}}


            </div>

        </div>




    </div>
</div>